/* vj */
* {
	margin: 0;
	padding: 0;
}
*, *:after, *:before {
	box-sizing: border-box;
}
body {
	background-color: #3fb5e7;
}
p {
	padding: 20px 0 0;
	color: #fff;
	text-align: center;
}
.container {

	margin: 20px auto;
	height: 400px;
	width: 800px;
}
.roleBlock {
	margin: 0 auto;
	height: 300px;
	width: 300px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
  	backface-visibility: hidden;
}
span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.side-view-role {
	background-color: #dbf3fd;
	border-radius: 50%;
	height: 235px;
	width: 95px;
	
  	transform-style: preserve-3d;
	transform: rotateY(125deg);
	z-index: 9;
	/* &:after {
		content: '';
		background-color: #afe3f9;
		border-radius: 50%;
		display: block;
		height: 95px;
		width: 35px;
		
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	} */
}
.role-top-cover, .role-bot-cover {
	height: 120px;
	width: 50px;
}
.role-top-cover {
	background-color: #f8fcff;
	left: 48px;
}
.role-bot-cover {
	background-color: #b4e4f8;
    left: 48px;
    top: 115.33px;
}
.rounder-top {
	background-color: #f8fcff;
  	border-radius: 0 70px 0 0;
	height: 120px;
	width: 200px;
	left: 75px;
}
.smiley-block {
	background-color: #f9fdfe;
	border-top: 2px dashed #b4e4f8;
	border-radius: 0 0 5px 5px;
	height: 150px;
	width: 200px;
	top: 120px;
	left: 75px;
	text-align: center;
	/* .block-center {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	} */

}
@keyframes hideshow {
	50% { height: 0; }
}
@keyframes updown {
	50% { transform: translateY(5px); }
}